<div id="budget-container" class="col-xs-12">
  <h1>New Expense Category</h1>
  <p>Create a new expense category</p>

  <%= form_for @expense_category, url: {action: 'create'} do |f| %>

      <div class="field-container">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field-container">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <%= hidden_field_tag :import_id, @import_id %>
      <%= f.submit %>
  <% end %>
</div>